/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body{
    overflow-x: hidden;
    overscroll-behavior: none;
    color: #444;
    scroll-behavior: smooth;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
}

h1,
h2,
h3 {
    color: #020202;
}

.clearfix {
    clear: both;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0 5px;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.heading {
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
    font-weight: 600;
}
.color-span {
    color: #b23930;
}

.button {
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 14px;
    font-weight: 500;
    margin: 10px auto;
    display: block;
    width: 120px;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}


.hideme
{
    opacity: 0.3;  /* test */
}




/* ==========================================================================
   HEADER - MOBILE FIRST 
   ========================================================================== */

 #menu,
 header .social-icons{
     display: none;
 }
 

#logo {
   height: 70px;
   margin: 10px 0;
}

#mobile-menu {
    width: 40px;
    position: absolute;
    right: 40px;
    top: 25px;
}

#menu li {
    padding: 10px 0;
    font-weight: 500;
    border-top: 1px solid #e5e5e5;
    position: relative;
    right: 25px;
}

#menu li a {
    color: #020202 !important;
}

header {
    border-bottom: 2px solid #e5e5e5;
}


/* ----------- HEADER DESKTOP  ----------- */
@media only screen and (min-width: 940px) {
        
#mobile-menu{
    display: none
}
      
#menu {
  display: block;
  margin-top: 40px;
}

#menu li {
    display: inline-block;
    border-top: none;
    padding: 0 15px;
    font-weight: 600;
}

#menu li a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #b2392f;
}

header {
    height: 90px;
    width: 80%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;  
    margin: 0 auto; 
}
header .social-icons {
 display: inline-block;
 margin-top: 40px;
 margin-right:-5px;
}

header .social-icons img {
    margin: 0 5px;
} 

}


/* ==========================================================================
   HERO - MOBILE FIRST 
   ========================================================================== */

#background-container {
    background: url('../img/background-hero-mobile.png');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100%;
}


h1 {
    color: #020202;
    font-weight: 900;
    font-size: 3em;
}

#first-button {
    color: #020202;
    border: 1px solid #020202;
    font-weight: 700;
}

#first-button:hover{
    color: #777;
    border: 1px solid #777;
}

#second-button {
    background-color: #b23930;
    color: white !important;
}
#second-button:hover{
    background-color: #dd3930;
}

#hero {
    padding: 80px 0;
}

#hero img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-top: 60px;
}

.divider {
    border-bottom: 2px solid #e5e5e5;
}


/* ----------- HERO Desktop  ----------- */
@media only screen and (min-width: 940px) {

#hero {
     min-height: 500px;
    }

#hero-title {
    text-align: left;
    margin-left: 140px;
    margin-top: 40px;
}
h1 {
    font-size: 5em;
    line-height: 1.1;
}

#hero-title a{
    display: inline;
    margin-right: 10px;
}


 #hero img {
    width: 60%;
    margin-top: -320px;
    margin-right: -10px;   
} 

#background-container {
    background: url('../img/background-avalon.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    border-bottom: 2px solid #e5e5e5;
    width: 80%;
    margin: 0 auto;
}

}

/* ==========================================================================
   CHI SIAMO - MOBILE FIRST 
   ========================================================================== */
#chi-siamo {
    margin-top: 40px;
    background-color: #f7f7f7;
    border: 8px;
    display: block;
}

#chi-siamo img {
    width: 100%;
}

#chi-siamo h3{
    font-size: 28px;
    position: relative;
    top: 40px;
    display: block;
}

#chi-siamo p {
    margin-bottom: 20px;
}

#chi-siamo a{
    color: #020202;
    padding-bottom: 60px;
    display: block;
}

#chi-siamo-right {
    margin: 10px 8px;
}



/* ----------- CHI SIAMO Desktop  ----------- */
@media only screen and (min-width: 940px) {
     
    #chi-siamo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    #chi-siamo-left img {
        width:100%;
    }

    #chi-siamo-right {
        margin:20px 60px 0;
    }

    #chi-siamo-right-wrapper {
        position: relative;
        bottom: 10px;
    }

  

}


/* ==========================================================================
   GALLERY - MOBILE FIRST 
   ========================================================================== */
#gallery-title-section  {
    text-align: center;
    padding-top: 80px;
    margin-bottom: 60px;
    margin-top: 60px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(12,5,5,0.3);
  }
  
  div.gallery:hover {
    border: 1px solid #e5e5e5;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .desc {
      font-weight: 500;
      letter-spacing: 0.9px;
  }

  #gallery-button-container {
      text-align: center;
      margin-top: 60px;
  }

  #gallery-button-container a {
    width: 180px;
    background-color: #b23930;
    color: white;
  }

  #gallery-button-container a:hover {
    background-color: #dd3930;
  }


   
/* ----------- GALLERY Desktop  ----------- */
@media only screen and (min-width: 940px) {
  
    #gallery-container-section {
        background: url('../img/test-3.png');
        background-repeat: no-repeat;
    }
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #gallery-title-section h2 {
        margin-bottom: 0;
    }

    #gallery-title-section p {
        width: 50%;
        margin: 0 auto;
        padding-top: 10px;
    }

}

/* ==========================================================================
   TESTIMONIALS - MOBILE FIRST 
   ========================================================================== */
#testimonial-container {
    margin-bottom: 120px;
}
#testimonial-title {
    margin-top: 120px;
    text-align: center;
}

.testimonial {
    border: 1px solid #e5e5e5;
    margin: 20px 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(12,5,5,0.3);
}

.testimonial:hover {
    box-shadow: 0px 0px 20px 0px rgba(12,5,5,0.3);
}

.testimonial p {
    margin: 0 25px;
    padding-bottom: 40px;
    
}

.testimonial img {
    width: 80px;
    margin: 25px;
}

/* ----------- GALLERY Desktop  ----------- */
@media only screen and (min-width: 940px) {

#testimonial-title {
    margin-left: 10px;
}

#testimonial-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
}


/* ==========================================================================
   COLLABORAZIONI - MOBILE FIRST 
   ========================================================================== */

.collaborazione-logo img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

#title-collaborazioni {
    text-align: center;
}

/* ----------- GALLERY Desktop  ----------- */
@media only screen and (min-width: 940px) {
 
.collaborazioni-container-1 {
    display: flex;
}
.collaborazioni-container-2{
    display: flex;

}

.collaborazione-logo {
    margin: 0 auto;
}
.collaborazione-logo img {
    width: 150px;
}
}



/* ==========================================================================
   CONTATTI - MOBILE FIRST 
   ========================================================================== */
  #contatti-container {
      background-image: linear-gradient(to bottom right, #b23930 ,#dd3930 );
      text-align: center;
      color: white;
      margin-top: 120px;
  }

  #contatti-title {
      margin: 0 5px;
      padding-bottom: 20px;
  }

  #contatti-title p {
      margin-top: 10px;
  }

  #contatti-container h2 {
      color: white;
      padding-top: 80px;
      font-size: 26px;
  }

  #contatti-container h3 {
      color: white;
      margin-top: 20px;
  }

  .icone-contatti {
      width: 50px;
      margin-top: 60px;
  }


  .contatti p{
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  #contatti-info{
      padding-bottom: 60px
  }

  #contatti-info a{
      color:white;
      display: block;
      padding: 10px;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
  }

  .contatti img{
      display: inline-block !important;
  }

  #social-footer a {
    display: inline-block !important;
}

  #p-iva {
      height: 120px;
      padding-top: 40px;
  }


  #cashback-pizza-new-school {
      border-top: 1px solid white;
      width: 90%;
      margin: 0 auto;
      padding-top: 60px;
      background-color: white;
      color:#444 !important;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 0px rgba(12,5,5,0.3);
  }
  #cashback-pizza-new-school a {
      text-decoration: underline;
  }
  #cashback-pizza-new-school img {
        width: 200px;
        padding-bottom: 5px;
        
  }
  #cashback-pizza-new-school div{
      padding-bottom: 60px;
  }
  #corsi-pizza-footer {
       border-top: 3px solid #f7f7f7;
       padding-top: 40px;
  }


  


/* ----------- CONTATTI Desktop  ----------- */
@media only screen and (min-width: 940px) {

    #contatti-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 80px;
    }

    #contatti-container h2 {
        font-size: 36px;
    } 

    #contatti-title p{
        width: 40%;
        margin: 10px auto;
    }

    #contatti-container h3 {
        font-size: 20px;
    }

    #contatti-info p{
        margin-top: 18px;
        width: 70%
    }

    #contatti-info a {
        padding: 8px;
    }

    #numero-telefono {
        margin-top: 10px; /* per allineare il testo del footer */
    }

    #cashback-pizza-new-school {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    #cashback-pizza-new-school p {
        width: 80%;
        margin: 0 auto;
        padding-top: 10px
    }

    #corsi-pizza-footer{
        position: relative;
        bottom: 22px;
        border-left: 3px solid #f7f7f7;
        padding-top: 0;
        border-top: none;
    }

}


/* ==========================================================================
   SUB FOOTER - MOBILE FIRST 
   ========================================================================== */
#subfooter {
    text-align: center;
    padding: 10px;
}

#subfooter a {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    color: #444
}

#subfooter a:hover {
    border-bottom: 1px solid #b23930;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
